body {
    margin: 0px;
    padding: 15px 0px 15px 0px;
}

.container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    background-color: skyblue;
    height: 100%;
}

.child {
    display: grid;
    grid-gap: 10px;
    padding: 5px;
}

.item {
    background-color: lightgreen;
    border: 2px solid navy;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.item:hover {
    color: white;
}

.a:hover {
    background-color: brown;
}
.b:hover {
    background-color: blueviolet;
}
.c:hover {
    background-color: olive;
}
.d:hover {
    background-color: chocolate;
}
.e:hover {
    background-color: darkmagenta;
}
.f:hover {
    background-color: darkslategray;
}
.g:hover {
    background-color: darkcyan;
}
.h:hover {
    background-color: salmon;
}
.i:hover {
    background-color: darkgreen;
}
.j:hover {
    background-color: darkgoldenrod;
}
.k:hover {
    background-color: seagreen;
}
.l:hover {
    background-color: indianred;
}
.m:hover {
    background-color: indigo;
}
.n:hover {
    background-color: coral;
}
.o:hover {
    background-color: royalblue;
}